body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.services-body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f5f5f5;
    color: #333;
}

/* Navigation styles */
/* Navigation styles */
nav {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: 50; /* Ensure the navigation bar stays on top of other content */
}

.navbar-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
}

.logo {
    
      height: 100px;
    
}

.navbar-links {
    display: flex;
}

.navbar-links a {
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    transition: color 0.3s;
}

.navbar-links a:hover {

    background-color: transparent;
    color: #000;
}





.menu-toggle {
    cursor: pointer;
    display: none;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
}

@media (max-width: 600px) {
    .navbar-links {
        display: none;
        flex-direction: column;
        position: absolute;
        width: 100%;
        background-color: #0672ffd2;
        z-index: 1;
        top: 60px;
    }

    .navbar-links.show {
        display: flex;
    }

    .menu-toggle {
        display: block;
    }

    .menu-toggle:hover .bar {
        background-color: #000;
    }

    .bar {
        transition: background-color 0.3s;
    }
}
.mission-statement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;
    background-image: url('media/IMG_7015.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-bottom: 5%; /* Adjust this value as needed */
}

.mission-statement h1 {
    padding: 5%; /* Adjust this value as needed */
}

.mission-text {
    font-size: 5vw; /* Adjust this value as needed */
    font-family: 'Crimson Text', serif;
    color: #fff;
    text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #526cff, 0 0 82px #52a3ff, 0 0 92px #52abff, 0 0 102px #52ceff, 0 0 151px #52baff;
}
.About-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10%; /* Adjust the padding as needed */
    height: auto; /* Set height to auto to allow it to expand based on content */
    filter: grayscale(40%);
    font-family: 'Crimson Text', serif;
    color: #080000;
}



.About-us img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.grid-container-provided {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0; /* No gap between items */
}

.grid-item {
    position: relative;
    overflow: hidden;
    transition: filter 0.5s ease-in-out, box-shadow 0.3s ease-in-out; /* Add transition for smooth scaling, filter, and box-shadow */
}

.grid-item img {
    width: 100%;
    height: auto;
    transition: transform 0.5s ease-in-out; /* Add transition for smooth zoom effect */
}

.grid-item h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-size: 2rem;
    font-family: 'Crimson Text', serif; /* Same font family as mission text */
    opacity: 0;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #526cff,
        0 0 82px #52a3ff,
        0 0 92px #52abff,
        0 0 102px #52ceff,
        0 0 151px #52baff;
    transition: opacity 0.5s ease-in-out;
}

.grid-item:hover {
    transform: scale(1.1);
    z-index: 1;
    filter: grayscale(100%);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    transform-origin: center center; /* Set the transform-origin to the center */
}

.grid-item:hover img {
    transform: scale(1.05);
}

.grid-item:hover h2 {
    opacity: 1;
}

/* Add the following rule to compensate for the scaling effect on the second row */
.grid-item:nth-child(4),
.grid-item:nth-child(5),
.grid-item:nth-child(6) {
    margin-top: -5px; /* Adjust the negative margin as needed */
}




.social-media-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.social-media-item {
    text-align: center;
}

.social-media-item img {
    width: 80px; /* Adjust the width as needed */
    height: 80px; /* Adjust the height as needed */
}


.black-space {
    background-color: black;
    color: white;
    padding: 20px;
    margin-top: 75vh; /* Adjust the margin to match the height of the .mission-statement */
}

@media (max-width: 600px) {
    .navbar-links {
        display: none;
        flex-direction: column;
        position: absolute;
        width: 100%;
        background-color: #0672ffd2;
        z-index: 1;
        top: 60px; /* Adjust the top value based on your navigation bar height */
    }

    .navbar-links.show {
        display: flex;
    }

    .menu-toggle {
        display: block;
    }

    .menu-toggle:hover .bar {
        background-color: #000;
    }

    .bar {
        transition: background-color 0.3s;
    }
}

/* Your existing styles go here */

footer {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}

.contact-info, .business-info {
    margin-bottom: 20px;
}

.contact-info h3, .business-info h3 {
    color: #0672ffd2;
}

.contact-info p, .business-info p {
    margin: 5px 0;
}


@media only screen and (max-width: 768px) {
    .mission-statement h1 {
        padding: 2%; /* Adjust this value as needed */
    }

    .mission-text {
        font-size: 5vw; /* Adjust this value as needed */
    
    }

    /* Smaller logo for phones */
    .mission-logo {
        max-width: 60%; /* Adjust this value as needed */
        margin-top: 40px; /* Adjust the margin as needed */
    }
}





.detail-section {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 40px;
}

.section-title {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
}

.detail-section {
    margin-bottom: 40px;
}

.detail-container {
    display: flex;
    flex-direction: row; /* Set to row to ensure cards are in the same row */
    justify-content: space-around;
}

.detail-card {
    background: linear-gradient(to bottom, #ffffff, #f5f5f5);
    border: 1px solid #ddd;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    flex: 0 0 calc(30% - 40px);
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Adjust based on your design */
    align-items: center;
}


.detail-card:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.detail-card h3 {
    font-size: 1.8em;
    margin-bottom: 15px;
    color: #333;
}

.detail-card ul {
    list-style-type: none;
    padding: 0;
    text-align: left;
}

.detail-card ul li {
    padding: 10px 0;
    color: #555;
}

.detail-card p.price {
    margin-top: 15px;
    font-weight: bold;
    color: #0672ffd2;
}

.detail-card p.note {
    margin-top: 15px;
    color: #888;
    font-size: 14px;
}

@media only screen and (max-width: 768px) {
    .detail-card {
        flex: 0 0 calc(100% - 40px);
        margin: 20px 0;
    }

    .navbar-links {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
        background: linear-gradient(to right, #0672ffd2, #004080);
        position: absolute;
        top: 70px;
        left: 0;
    }

    .navbar-links.show {
        display: flex;
    }

    .navbar-links a {
        padding: 14px 0;
        border-bottom: 1px solid white;
    }
}

.detail-card p.service-description {
    color: #555;
    margin-top: 10px;
    font-size: 14px;
}






/* Styles for Shopping Cart Popup */
.shopping-cart-popup {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 300px;
    max-height: 400px; /* Set a fixed maximum height for the popup */
    overflow-y: auto; /* Enable vertical scrolling */
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: block; /* Change to "block" to make it always visible */
    z-index: 1000;
}

.cart-content {
    padding: 10px;
}

.shopping-cart-popup h2 {
    margin-bottom: 10px;
}

#cart-list-popup {
    list-style-type: none;
    padding: 0;
}

#cart-list-popup li {
    margin-bottom: 5px;
}

#total-price-popup {
    margin-top: 10px;
    font-weight: bold;
}

#user-info-form {
    margin-top: 10px;
}

#user-info-form label,
#user-info-form input,
#user-info-form textarea,
#user-info-form button {
    margin-bottom: 10px;
}

#close-cart-popup {
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}


/* Add your existing styles here */

@media only screen and (max-width: 768px) {
    .navbar-links {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
        background: linear-gradient(to right, #0672ffd2, #004080);
        position: absolute;
        top: 70px;
        left: 0;
    }

    .navbar-links.show {
        display: flex;
    }

    .navbar-links a {
        padding: 14px 0;
        border-bottom: 1px solid white;
    }

    /* Add styles for smaller screens here */

   

    .About-us {
        padding: 5%; /* Adjust padding for smaller screens */
    }

    .grid-container-provided {
        grid-template-columns: repeat(1, 1fr); /* Adjust the number of columns for smaller screens */
    }

    .grid-item {
        margin-top: 0; /* Adjust margin for smaller screens */
    }
    .scroll-effect .grid-item {
        filter: grayscale(100%);
        transform: scale(1.1);
    }

    .scroll-effect .grid-item h2 {
        opacity: 1;
        transition: opacity 0.5s ease-in-out;
    }

    .social-media-section {
        flex-direction: column; /* Stack social media icons for smaller screens */
    }

    .social-media-item {
        margin-bottom: 10px; /* Adjust margin for smaller screens */
    }

    .black-space {
        margin-top: 50vh; /* Adjust margin for smaller screens */
    }

    footer {
        padding: 10px; /* Adjust padding for smaller screens */
    }
    .grid-item {
        filter: grayscale(0);
        transform: scale(1);
        transition: filter 0.5s ease-in-out, transform 0.5s ease-in-out;
    }
    
    .scroll-effect .grid-item {
        filter: grayscale(100%);
        transform: scale(1.1);
    }
    
    .grid-item h2 {
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
    }
    
    .scroll-effect .grid-item h2 {
        opacity: 1;
    }
}







